</html><form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label form-control-modal" style="color: #5F0293;">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
            <div class="invalid-feedback">
                {{ field.errors|join:", " }}
            </div>
        {% endif %}
    </div>
{% endfor %}
    <div class="btn-container">
        <button type="button" class="btn btn-style btn-cancel m-2" style="background-color: #dc3545" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-style m-2">Confirmar</button>
    </div>
</form>