{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Navbar -->
{% include 'navbar.html' %}

<div class="body-content">
    <div class="v3_2">
        <span class="v6_36">Recomendados</span>
        
        <div class="comic-container">
            <div class="v5_8"></div>
            <span class="v5_26">Action Comics #1 Primera Edición</span>
        </div>
        
        <div class="comic-container">
            <div class="v5_13"></div>
            <span class="v5_27">The Walking Dead</span>
        </div>
        
        <div class="comic-container">
            <div class="v5_11"></div>
            <span class="v5_29">Wolverine</span>
        </div>
        
        <div class="comic-container">
            <div class="v5_24"></div>
            <span class="v5_31">Spiderman</span>
        </div>
        
        <div class="comic-container">
            <div class="v5_15"></div>
            <span class="v5_33">Demon Slayer #1</span>
        </div>
        
        <div class="comic-container">
            <div class="v5_18"></div>
            <span class="v5_34">Naruto Manga Tomó 1</span>
        </div>
        
        <div class="comic-container">
            <div class="v5_19"></div>
            <span class="v5_35">The Boys Vol. 1</span>
        </div>
        
        <div class="comic-container">
            <div class="v5_20"></div>
            <span class="v5_36">Marvel Must-Have: Civil War Cómics</span>
        </div>
        
        <div class="comic-container">
            <div class="v5_21"></div>
            <span class="v5_37">DCeased: War of the Undead Gods</span>
        </div>
        
        <div class="comic-container">
            <div class="v5_22"></div>
            <span class="v5_38">The Umbrella Academy Volume 2: Dallas</span>
        </div>
    </div>
</div>
{% endblock %}