{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<link rel="stylesheet" href="{% static 'css/comicStyles.css' %}">

<div class="body-content">
    <div class="v3_2">
        <div class="v6_36">Novedades</div>
        
        {% for comic in comics %}
        <div class="comic-container" onclick="location.href='{% url 'comic_detail' comic_id=comic.id %}';">
            <div class="v5_8" style="background-image: url('{{ comic.image }}');"></div>
            <span class="v5_26">{{ comic.title }}</span>
        </div>
        {% empty %}
        <p>No hay cómics disponibles en este momento.</p>
        {% endfor %}
    </div>
</div>
<br><br>
{% endblock %}
