{% load static %}

<link rel="stylesheet" href="{% static 'css/comicNavbar.css' %}">

<nav class="navbar navbar-expand-lg navComicVerse">
    {% csrf_token %}
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/ComicVerseLogo2.png'%}" width="200" height="90" alt="logoNavbar">
    </a>

    <div class="navbar-search">
        <input type="text" class="search-input" style="font-family: Comfortaa, sans-serif; font-size: 14px !important;" placeholder="Buscar comics">
        <button class="search-button">
            <i class="ph ph-magnifying-glass"></i>
        </button>
    </div>  

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_offers' %}">Mis Ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_comics' %}">Mis cómics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Favoritos</a>
            </li>
            
            <li class="nav-item dropdown profile">
                <a href=""  id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'img/IconComicVerse.png' %}" width="50" height="50" class="rounded-circle" alt="User Profile">
                </a>
                <ul class="dropdown-menu dropdown-menu-end menu" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item item" href="" style="border-bottom: 1px solid #0C008F;">Mi perfil</a></li>
                    <li><a class="dropdown-item item" href="" style="border-bottom: 1px solid #0C008F;">Configuración</a></li>
                    <li><a class="dropdown-item item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>