{% extends 'authen_base.html' %}
{% load static %}

{% block form_content %}
    <h1 class="auth-title">Registro</h1>

    <br><br>

    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'register' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md">
                <input type="text" id="username" name="username" placeholder="Usuario" required>
            </div>
            <div class="form-group col-md">
                <input type="email" id="email" name="email" placeholder="Correo" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md">
                <input type="text" id="state" name="state" placeholder="Estado" required>
            </div>
            <div class="form-group col-md">
                <input type="text" id="municipality" name="municipality" placeholder="Municipio" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md">
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="form-group col-md">
                <input type="tel"
                       id="phonenumber"
                       name="phonenumber"
                       placeholder="Teléfono"
                       pattern="[0-9]{10}"
                       maxlength="10"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                       title="El teléfono debe tener exactamente 10 dígitos numéricos"
                       required>
            </div>
        </div>
        <br>
        <button type="submit" class="auth-button">Registrarse</button>
    </form>
    <br>

    <div class="text-center" style="color: aliceblue;">
        ¿Ya tienes una cuenta?<a href="{% url 'login' %}" class="btn" style="color: #00FFFB; border: none;"> Inicia sesión</a>
    </div>
{% endblock %}